In [1]:
import os
import pandas as pd

In [2]:
def get_files_list(datadir):
    all_files = os.listdir(os.path.abspath(datadir))
    return list(filter(lambda file: file.endswith('.csv'), all_files))

In [ ]:
datadirtemp = "./collect_temp2/"
file_out = "Mairie_appels_filename_labels2.csv"

list_csv = get_files_list(datadirtemp)

In [4]:
df = pd.DataFrame()
for i, val in enumerate(list_csv):
    print(f'proceeding {val}')
    df_temp = pd.read_csv(datadirtemp+val,sep=';') 
    df = pd.concat([df, df_temp],sort=False)

proceeding temp00101.csv
proceeding temp01818.csv
proceeding temp02020.csv
proceeding temp02323.csv
proceeding temp02222.csv
proceeding temp00000.csv
proceeding temp01515.csv
proceeding temp01313.csv
proceeding temp02929.csv
proceeding temp01717.csv
proceeding temp03737.csv
proceeding temp03333.csv
proceeding temp00808.csv
proceeding temp01111.csv
proceeding temp01919.csv
proceeding temp02626.csv
proceeding temp03030.csv
proceeding temp01616.csv
proceeding temp02121.csv
proceeding temp01212.csv
proceeding temp00909.csv
proceeding temp03838.csv
proceeding temp00303.csv
proceeding temp03131.csv
proceeding temp03939.csv
proceeding temp00707.csv
proceeding temp03232.csv
proceeding temp00202.csv
proceeding temp02424.csv
proceeding temp00606.csv
proceeding temp02525.csv
proceeding temp03535.csv
proceeding temp02727.csv
proceeding temp01414.csv
proceeding temp01010.csv
proceeding temp02828.csv
proceeding temp03636.csv
proceeding temp00404.csv
proceeding temp03434.csv
proceeding temp00505.csv

In [5]:
df = df.set_index('cle').fillna(0).drop(['Unnamed: 0'],axis=1)

In [ ]:
df.head()

In [7]:
df.to_csv(file_out,sep=';')

In [8]:
df.describe()

,CP_SITE,I_AP_COORD_X,I_AP_COORD_Y,Alley,Alleyway,Aluminium,Apartment Building,Asphalt,Automobile,Awning,...,Arrow,Canoe,Coal,Crocodile,Digital Watch,Golf,Lathe,Modern Art,Offroad,Turnstile
count,4005.000000,4005.0,4005.0,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,...,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000,4005.000000
mean,48427.109114,0.0,0.0,2.952407,2.434683,0.837541,0.804503,10.227582,11.048108,0.131528,...,0.046412,0.022692,0.016999,0.021433,0.015777,0.019322,0.021454,0.021488,0.024517,0.024665
std,5500.824301,0.0,0.0,14.892438,13.672589,8.825356,7.883630,27.079877,29.601167,3.174494,...,2.076765,1.436087,1.075788,1.356360,0.998480,1.222775,1.357746,1.359846,1.551540,1.560936
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49000.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,49100.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,49100.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,49480.000000,0.0,0.0,98.441978,98.441978,99.313339,93.989754,99.175331,99.293068,88.565659,...,93.996956,90.882835,68.081291,85.837357,63.188850,77.383385,85.925034,86.057953,98.189339,98.783966